@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top:50%;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white ;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/*@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --cor1:#000000; 
    --cor2:#FFFFFF;

    --fonte1: 'Passion One', arial, helvetica, sans-serif;
    --fonte2: verdana, arial, helvetica, sans-serif;
    --fonte3: 'sriracha', arial, helvetica, sans-serif; 
}

body {
    font-family:var(--fonte3) ;
    text-align: left    
}

h1 {
    font-family: var(--fonte1);
    font-size: 10vw;
    text-align: center;
    color: var(--cor2);
    font-size: 80px;
}

header {
    background-color: #000000;
}

span {
    font-size: 130px;
    font-weight: bold;
}

header > p > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

body > main > p {
    font-size: 10vw;
    font-size: 41px ;
}

main > section > p {
    font-size: 10vw;
    font-size: 41px ;
}

header > p {
    font-family: var(--fonte2);
    text-align: center;
    color: var(--cor2);
    font-size: 16px;
}

section > p {
    color: #FFFFFF;
}

#imagem {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#imagem01 {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    font-family: var(--fonte2);
    text-align: center;
    font-size: 16px;
    background-color: #000000;
    color: #FFFFFF;
}*/



